<?js
    var data = obj;
?>
    <section>
        <article>
            <pre class="prettyprint lang-<?js~ example.lang ?> source <?js= env.conf.templates.linenums ? 'linenums' : '' ?>"><code><?js~ data.code ?></code></pre>
        </article>
    </section>
